<div class="container">
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="logo">
      <img src="../../assets/icons/rocket.svg" alt="rocket_icon" />
      InfoSpaces
    </div>

    <div class="inputs">
      <span>E-mail</span>
      <input type="text" formControlName="email" />
      <strong *ngIf="emailControl === 'required'">Email é obrigatório</strong>
      <strong *ngIf="emailControl === 'email'">Email inválido</strong>
    </div>


    <div class="inputs">
      <span>Senha</span>
      <input type="password" formControlName="password" />
      <strong *ngIf="passwordControl === 'required'">Senha é obrigatório</strong>
      <strong *ngIf="passwordControl === 'minLength'">Minimo 6 caracteres</strong>
    </div>

    <div class="inputs">
      <span>Confirmar Senha</span>
      <input type="password" formControlName="confirmPassword" />
      <strong *ngIf="confirmPasswordControl === true">Senhas não batem</strong>
    </div>

    <div class="linkContainer">
      <div class="linkContent">
        <div class="imgContainer">
          <img src="../../assets/icons/feLogoutBlack.png" alt="fiLogin">
          <img src="../../assets/icons/feLogout.png" alt="fiLogin">
        </div>
        <a routerLink="/signin" routerLinkActive="active">Logar na sua conta</a>
      </div>
    </div>

    <button type="submit">Cadastrar</button>
  </form>
</div>
