<div class="container">
  <form [formGroup]="signinForm" (ngSubmit)="onSubmit()">
    <div class="logo">
      <img src="../../assets/icons/rocket.svg" alt="rocket_icon" />
      InfoSpaces
    </div>

    <div class="inputs">
      <span>E-mail</span>
      <input type="text" formControlName="email" />
    </div>

    <div class="inputs">
      <span>Senha</span>
      <input type="password" formControlName="password" />
    </div>

    <div class="linkContainer">
      <div class="linkContent">
        <div class="imgContainer">
          <img src="../../assets/icons/feLoginBlack.png" alt="fiLogin">
          <img src="../../assets/icons/feLogin.png" alt="fiLogin">
        </div>
        <a routerLink="/signup" routerLinkActive="active">Criar uma conta</a>
      </div>
    </div>

    <button type="submit">Entrar</button>
  </form>
</div>
