.container
  position: relative
  background-color: #000
  min-height: 100vh
  height: 100vmax
  padding: 0 72px

  @media only screen and (max-width: 450px)
    display: flex
    flex-direction: column
    align-items: center


  header
    position: relative
    display: flex
    align-items: center
    height: 120px
    width: 100%
    z-index: 20

    nav
      position: absolute
      display: flex
      align-items: center

      img
        margin-right: 5px
        height: 21px
        width: auto

.shadowContainer
  position: absolute
  top: 0
  right: 0
  min-height: 100vh
  overflow: hidden
  width: 1100px
  z-index: 0

  img
    position: absolute
    width: auto
    height: 100%
    top: 0
    right: 0
    z-index: 10

  div
    position: absolute
    width: 100%
    height: 100%
    top: 0
    right: 0
    box-shadow: inset 400px -200px 250px 50px #000000
    z-index: 10

main
  position: absolute
  width: calc(100% - 160px)

  @media only screen and (max-width: 450px)
    padding: 0 48px

  span
    color: #DDDDDD
    font-size: 16px

    img
      margin-left: 16px
      height: 100%
      width: auto

  h2
    font-size: 24px
    font-weight: 300
    color: #DBDBDB
    z-index: 80

  h1
    margin: 8px 0

  button
    display: flex
    align-items: center
    justify-content: center
    max-width: 311px
    width: 100%
    height: 50px
    background: rgba(74, 74, 74, 0.2)
    border: 0
    color: #fff
    font-size: 16px
    border-radius: 8px
    transition: 0.2s

    &:hover
      background: rgba(74, 74, 74, 0.5)

    a
      color: #ffffff
      text-decoration: none

.introductionContent
  margin: 171px 0

.introductionContainer
  height: 100vh

.launchesContainer
  display: flex
  align-items: center
  flex-direction: column
  width: 100%

  h1
    font-size: 32px

  table
    border-collapse: collapse

    div
      display: flex
      align-items: center
      justify-content: center
      height: 32px
      max-width: 160px
      width: 100%
      border-radius: 50px

    th
      padding: 16px 120px 16px 16px

      @media only screen and (max-width: 800px)
        padding: 0

      &:first-of-type
        border-radius: 50px 0 0 50px

      &:last-of-type
        border-radius: 0 50px 50px 0

    td
      padding: 8px 16px 8px 16px
      font-size: 16px

      @media only screen and (max-width: 800px)
        padding: 0

      &:first-of-type
        border-radius: 50px 0 0 50px

      &:last-of-type
        border-radius: 0 50px 50px 0

      a
        text-decoration: none
        color: #fff

    tr
      &:hover
        background-color: #1D1D1D


.success
  background-color: #00BB1E

.failure
  background-color: #BB0000

.coming_soon
  background-color: #1900BB

.rocketsTable
  margin-top: 64px
  background-color: #0F0F0F
  padding: 30px 56px
  border-radius: 8px
