<div class="container">
  <header>
    <nav>
      <img src="../../assets/icons/rocket.svg" alt="rocket_icon" />
      InfoSpaces
    </nav>
  </header>
  <div class="shadowContainer">
    <img src="../../assets/background.png" alt="background_png" />
    <div></div>
  </div>
  <main>
    <div class="introductionContainer">
      <div class="introductionContent">
        <h2>ULTIMO FOGUETE LANÇADO:</h2>
        <h1>ANASIS-II</h1>
        <span>
          Status:
          <img src="../../assets/icons/success.svg" alt="success_icon" />
          <!-- <img src="../../assets/icons/xCross.svg" alt="xCross_icon" /> -->
        </span>
      </div>
      <button>Link da decolagem</button>
    </div>
    <div class="launchesContainer">
      <h1>Lançamentos</h1>
    </div>
  </main>
</div>
